vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|18 Jun 2020 14:59:54 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|DESKTOP-IBJIM8T\\kwsta
vti_modifiedby:SR|DESKTOP-IBJIM8T\\kwsta
vti_timecreated:TR|04 May 2020 13:59:29 -0000
vti_backlinkinfo:VX|website2/project.css website2/contact.css website2/portfolio.css website2/About.css website2/blog.css website2/kostaspechli.html
vti_nexttolasttimemodified:TW|28 May 2020 16:03:36 -0000
vti_cacheddtm:TX|28 May 2020 16:03:36 -0000
vti_filesize:IR|826
vti_cachedlinkinfo:VX|S|sansation_light.woff S|grey_abstract.jpg
vti_cachedsvcrellinks:VX|NSUS|HTML/website2/sansation_light.woff FSUS|HTML/website2/grey_abstract.jpg
